/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.min.css';
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/omega/theme.css";
@import  "~primeng/resources/primeng.min.css";


.div-shadow {
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

.primary-background {
  background-color: rgb(63, 81, 181);
}

.toolbar {
  color: white;
  margin-bottom: 10px;
  font-weight: lighter;
}

.box{
  background-color: white;
}

.shaded-text{
  color: #b2b2b2;
}


.div-rounded {
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: 3px;
}

body {
  background-color: rgb(240, 243, 247) !important;
}
html{
  background-color: rgb(240, 243, 247) !important;
}

