/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.div-shadow {
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}



.div-rounded{
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: 3px;
}

body{
  background-color: rgb(240,243,247) !important;
  /*background-color: red;*/
}
