<div class="row col-12">
  <div class="col-12 top-menu primary-background top-menu-shadow top-menu-stick d-inline-block">
    <img src="assets/img/logo.png" width="65px" alt="logo" routerLink="" class="menu-entry">
    <button mat-button routerLink="add" class="menu-entry ml-3 mr-3">Dodaj</button>
    <div class="d-xl-inline float-xl-right col-xl-4 d-md-none">
      <input height="2" class="small-search-box" matInput type="text" placeholder="Szukaj...">
      <button mat-button (click)="search()" class="search-button">Szukaj</button>
    </div>
  </div>
  <!--fix to overlapping-->
  <div class="col-12 top-menu primary-background d-block relative" style="height: 62px"></div>
</div>
